*{
    box-sizing:border-box;
    font-family: Arial;
}
#root{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100vh;
    
}
.page-container{
    width: fit-content;
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(12, 12, 12);
    border:5px solid white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 16px;;
}
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(21, 24, 31);
    width: fit-content;
    padding: 50px;
    border-radius: 3px;
}
body{
    margin:0;
    background-color: black;
    background-color: rgb(219, 209, 224);
}
.info,.description {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    width:fit-content;
    background-color: rgb(14, 12, 12);
   
}

.my-info{
    display:flex;
    flex-direction: column;
}
.my-info > a{
font-size:8px;
color: rgb(141, 141, 141);
text-decoration: none;
text-align: center;
}
.my-info > p {
    font-size:8px;
    text-align: center;
    color: rgb(141, 141, 141);
    margin-top: 2px;
    margin-bottom: 2px;
}
.buttons{
    display:flex;
    gap:8px;
    margin-top:8px;
}
.email-button,.linkedin-button{ 
    border-radius: 5px;
    margin-bottom:20px;
    font-size: 9px;
    padding:0;
}
.email-button{
background-color: white;
color: black;
}
.email-button:hover{
    background-color: rgb(226, 225, 225)
}
.email-button:active{
    background-color: rgb(184, 184, 184)
}
.linkedin-button{
background-color: rgb(19, 130, 204);
color: aliceblue;
}
.linkedin-button:hover{
    background-color: rgb(18, 117, 184);
}
.linkedin-button:active{
    background-color: rgb(19, 94, 145);
}
.email-button,.linkedin-button{
    display: flex;
    padding:6px 12px;
    text-decoration: none;
}
.email-button > p , .linkedin-button > p{
    margin:0;
    margin-left:10px;
}
img{
    width:180px;
    border-radius: 5px 5px 0 0;     
}
h4{
    font-size:16px;
    margin-top: 10px;
    margin-bottom:0;
}
h5{
    font-size:10px;
    padding:0px 20px;
    margin: 0;
}

.about-interests > p{
    font-size:9px;
    width:180px;
    padding:0px 20px;
    margin-top:3px;
    margin-bottom:9px;
    word-spacing: 1px;
    color: rgb(141, 141, 141);
}
.footer{
    display:flex;
    flex-direction:row;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding:15px 0px;
    border-radius: 0 0 5px 5px;
       
}
.icon-holder{
    display: flex;
    width:20px;
    padding: 1px;
    margin-right: 6px;
    margin-left: 6px;
    background-color: rgb(88, 87, 87);
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: black;
}
.icon-holder:hover{
    background-color: rgb(126, 126, 126);
}
.icon-holder:active{
    background-color: rgb(177, 175, 175);
}